/*基本的样式*/
body{
	background-color:#fff;
	color:#5e6052;
	font-family: "微软雅黑";
	font-size: 12px;
}
a{
	color: #a7a6a6;
	text-decoration:none;
}
a:hover{
	color: #e4393c;
	text-decoration: underline;
}
body,ul,li,p,h1,h2,h3,h4,hr{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
/*页面导航栏信息样式*/
nav{
	width: 100%;
	height: 80px;
	background-color: #fcfcfc;
}
.nav{
	width: 1230px;
	height: 80px;
	margin: 0 auto;
	overflow: hidden;
	
}
/*左边浮动*/
.nav>.left_float{
	width: 282px;
	height: 80px;
	box-sizing: border-box;
	padding-top:15px ;
	padding-bottom: 15px;
	color: #000;
	float: left;
}
.nav>.left_float>img{
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
.nav>.left_float>p{
	float: right;
}
.nav>.left_float span{
	font-size:16px ;
}

/*右边浮动*/
.nav>.right_float{
	float: right;
	font-size: 20px;
	line-height: 80px;
	font-weight: bold;
}

.nav>.right_float>li{
	float: left;
	padding-right: 26px;
}
.nav>.right_float>.land>img{
	position: relative;
	top: 5px;
}
.nav>.right_float>.land>a{
	font-weight: normal;
}
.nav>.right_float input:first-child{
	width: 60px;
	height: 40px;
	background-color:#fff ;
	border: 2px solid #A7A6A6;
	border-radius: 5px;
}
.nav>.right_float input:last-child{
	height: 40px;
	background-color:#ffc852 ;
	border: none;
	border-radius: 5px;
}

/*设置头部信息样式*/
header{
	width: 100%;
	background-color: #f5f5f5;
}
.header>div#carousel>img{
	max-width: 100%;
}
.header>ul{
	width:1230px;
	height: 150px;
	margin: 0 auto;
	box-sizing: border-box;
	padding:22px 0;
	
}
.header>ul>li{
	width: 19%;
	height:100%;
	background-color: #fff;
	float: left;
	margin-right: 14px;
	box-sizing: border-box;
	padding: 32px;
	font-weight: bold;
	color: #979797;
}
.header>ul>li:last-child{
	margin-right: 0;
}
.header>ul>li:nth-child(3){
	padding-top: 15px;
}
.describe{
	float: left;
	margin-right: 10px;
}
.describe>p{
	margin-bottom:15px;
}
.show_img{
	width: 50px;
	height: 50px;
	background: url(../img/fenlei_01.png) no-repeat 0 0;
	float: left;
	cursor:pointer;
}
.header>ul>li:nth-child(2) .show_img{
	background: url(../img/fenlei_02.png) no-repeat 0 0;
	margin-left: 20px;
}
.header>ul>li:nth-child(3) .show_img{
	height: 80px;
	background: url(../img/fenlei_03.png) no-repeat 0 20px;
}


.header>ul>li:nth-child(4) div.show_img{
	background: url(../img/felei_04.png) no-repeat 0 0;
	
	
}

.header>ul>li:nth-child(5) .show_img{
	background: url(../img/fenlei_05.png) no-repeat 0 0;
	margin-left: 20px;
	
}


section{
	width: 100%;
}

.section>div{
	width: 100%;
	height: 500px;
}

.section>div:nth-child(2n){
	background-color: #f5f5f5;
}


#firstSec_top{
	padding-top: 20px;
	width: 868px;
	height: 50px;
	margin: 0 auto;
	font-size:40px;
	text-align: center;
	line-height: 50px;
	
}
#firstSec_top>hr:first-child{
	width: 100px;
	float: left;
	margin-top: 25px;
	height: 3px;
	background-color: #979797;
	margin-right: 20px;
}
#firstSec_top>div{
	float: left;
}
#firstSec_top>hr:last-child{
	width: 100px;
	float: left;
	margin-top: 25px;
	height: 3px;
	background-color: #979797;
	margin-left: 20px;
}

#firstSec_bottom{
	width: 610px;
	height: 300px;
	margin: 20px auto;
	text-align: center;
}

#firstSec_bottom .left_float{
	width: 296px;
	height: 282px;
	border: 1px solid #979797;
	float: left;
}
#firstSec_bottom h2{
	margin-bottom: 20px;
}
#firstSec_bottom .right_float{
	width: 296px;
	height: 282px;
	border: 1px solid #979797;
	float: right;
}
#firstSec_bottom .websit_top{
	width: 100%;
	height: 189px;
	background-color: #f8ffc0;
	box-sizing: border-box;
	padding-top:24px ;
	
}
#firstSec_bottom .app_top{
	width: 100%;
	height: 189px;
	background-color: #f8ffc0;
	box-sizing: border-box;
	padding-top:22px ;
}
.websit_bottom,.app_bottom{
	font-size: 60px;
	font-weight: bold;
	box-sizing: border-box;
	padding: 5px;
}
#firstSec_bottom input{
	margin-top: 20px;
	width: 172px;
	height: 40px;
	background-color: #ffc852;
	border: none;
	border-radius: 5px;
	color: #fff;
}




#secondSec_top{
	padding-top: 20px;
	width: 640px;
	height: 50px;
	margin: 0 auto;
	font-size:40px;
	text-align: center;
	line-height: 50px;
	margin-top: 20px;
	
}
#secondSec_top>hr:first-child{
	width: 100px;
	float: left;
	margin-top: 25px;
	height: 3px;
	background-color: #979797;
	margin-right: 20px;
}
#secondSec_top>div{
	float: left;
}
#secondSec_top>hr:last-child{
	width: 100px;
	float: left;
	margin-top: 25px;
	height: 3px;
	background-color: #979797;
	margin-left: 20px;
}

#secondSec_middle{
	
	width: 1238px;
	height: 244px;
	margin: 40px auto;
}
#secondSec_middle .left_float{
	width: 398px;
	height: 244px;
	background: url(../img/pic_01.jpg) no-repeat;
	float: left;
	margin-right: 22px;
	box-sizing: border-box;
	padding-top: 194px;
	cursor:pointer;
}
#secondSec_middle .left_float:nth-child(2){
	background: url(../img/pic_02.jpg) no-repeat;
}
#secondSec_middle .left_float:last-child{
	margin-right: 0px;
	background: url(../img/pic_03.jpg) no-repeat;
}
#secondSec_middle .shade{
	height: 50px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	line-height: 50px;
	box-sizing: border-box;
	padding-left: 20px;
	font-size: 16px;
	
}
#secondSec_bottom{
	width: 172px;
	margin: auto;
}
#secondSec_bottom input{
	margin-top: 20px;
	width: 172px;
	height: 40px;
	background-color: #ffc852;
	border: none;
	border-radius: 5px;
	color: #fff;
}



#thirdSec_top{
	width: 800px;
	height: 50px;
	margin: 0 auto;
	font-size:40px;
	text-align: center;
	line-height: 50px;
	box-sizing: border-box;
	padding-top: 20px;
	margin-bottom: 20px;
}
#thirdSec_top>hr:first-child{
	width: 100px;
	float: left;
	margin-top: 25px;
	height: 3px;
	background-color: #979797;
	margin-right: 20px;
}
#thirdSec_top>div{
	float: left;
}
#thirdSec_top>hr:last-child{
	width: 100px;
	float: left;
	margin-top: 25px;
	height: 3px;
	background-color: #979797;
	margin-left: 20px;
}
.out_ul{
	width: 1240px;
	height: 360px;
	margin:auto;
	margin-top: 50px;
	text-align: center;
}
.out_ul>li{
	width: 248px;
	height: 360px;
	background: url(../img/photo1.jpg) no-repeat 0 0 ;
	float: left;
}

.out_ul>li:nth-child(2){
	width: 248px;
	height: 360px;
	background: url(../img/photo2.jpg) no-repeat 0 0 ;
	float: left;
}
.out_ul>li:nth-child(3){
	width: 248px;
	height: 360px;
	background: url(../img/photo3.jpg) no-repeat 0 0 ;
	float: left;
}
.out_ul>li:nth-child(4){
	width: 248px;
	height: 360px;
	background: url(../img/photo4.jpg) no-repeat 0 0 ;
	float: left;
}
.out_ul>li:nth-child(5){
	width: 248px;
	height: 360px;
	background: url(../img/photo5.jpg) no-repeat 0 0 ;
	float: left;
}
.in_ul{
	width: 100%;
	height: 100%;
	background-color: rgba(70,72,72,0.5);
	box-sizing: border-box;
	padding-top: 124px;
}
.in_ul:hover{
	background-color: rgba(70,72,72,0);
	cursor: pointer;
}
.in_ul>li{
	width: 248px;
	height: 50px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
	line-height: 50px;
}
.in_ul>li:first-child{
	background:url(../img/little_shejiao.png) no-repeat 100px 0;
}
.out_ul>li:nth-child(2) .in_ul>li:first-child{
	background:url(../img/little_zhanlan.png) no-repeat 100px 0;
}
.out_ul>li:nth-child(3) .in_ul>li:first-child{
	background:url(../img/little_huiyi.png) no-repeat 100px 0;
}
.out_ul>li:nth-child(4) .in_ul>li:first-child{
	background:url(../img/little_kafei.png) no-repeat 100px 0;
}
.out_ul>li:nth-child(5) .in_ul>li:first-child{
	background:url(../img/little_huodong.png) no-repeat 100px 0;
}


#play{
	width: 1248px;
	height: 796px;
	margin: 0 auto;
	background: red;
	background-image: url(../img/video.jpg);
	color: #000;
	font-size: 20px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 100px;
}
#play h1{
	margin-bottom: 100px;
}
#play div{
	margin-top: 220px;
	margin-left: 45px;
	width: 1158px;
	height: 50px;
	background-color: #fff;
	text-align: left;
	box-sizing: border-box;
	padding-left: 30px;
	padding-top: 5px;
}
#play div span{
	display: inline-block;
	width: 1000px;
	border: 1px solid #ccc;
	position: relative;
	top: -18px;
	margin-left: 10px;
}
#play div b{
	position: relative;
	top: -10px;
	margin-left: 10px;
	color:#979797;
}

.fifthSec>.row_ul{
	width: 1240px;
	height: 500px;
	margin: 0 auto;
}
.fifthSec .row_ul>li{
	width: 400px;
	height: 500px;
	float:left;
	margin-right: 20px;
}
.fifthSec .row_ul>li:last-child{
	margin-right: 0px;
	
}

/*全部是列表内容*/
.col_ul{
	width: 401px;
	height: 100%;
	background-color: #F5F5F5;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
}
.col_ul>li:first-child{
	height: 126px;
	background: url(../img/picture1.png) no-repeat;
	font-size: 30px;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 20px;
}
.col_ul>.res{
	height: 70px;
	width: 100%;
	box-sizing: border-box;
	padding-left: 50px;
	padding-top: 5px;
	font-size: 14px;
	color: #CCCCCC;
}
.col_ul>.res>h3{
	color: #000;
}
.col_ul>li:nth-child(2n+1){
	background-color: #e5e5e5;
}
.col_ul>li:nth-child(7){
	background-color: #f5f5f5;
}
.col_ul>.res:before{
	content:url(../img/cuowu.png);
	position: absolute;
	left: 20px;
	margin-top: 15px;
}


.fifthSec .mode>li:first-child{
	background: url(../img/picture2.png) no-repeat;
}

.fifthSec .ourWay>li:first-child{
	background: url(../img/picture3.png) no-repeat;
}
.fifthSec .mode>li.dui:before{
	content:url(../img/dui.png);
}
.fifthSec .ourWay>li.res:before{
	content:url(../img/dui.png);
}





/*页面底部内容*/
footer{
	width: 100%;
	/* height: 780px; */
	
}
footer>#top_footer{
	width: 100%;
	height: 400px;
	background: #F5F5F5;
	margin: auto;
}
footer>#top_footer>.top_footer_img{
	width: 1168px;
	height: 250px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 40px;
	overflow: hidden;
}
footer>#top_footer>.top_footer_img>li{
	float: left;
	margin-right: 40px;
}

/*数字*/
.top_footer_num{
	width: 900px;
	height: 50px;
	margin: 0 auto;
	margin-top: 40px;
}
.top_footer_num>div{
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #979797;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	margin-right: 20px;
	margin-left: 20px;
	
}
.top_footer_num>hr{
	float: left;
	width: 130px;
	margin-top: 15px;
}

#middle_footer{
	width: 100%;
	height: 340px;
	background-color: #222222;
	box-sizing: border-box;
	padding-top: 70px;
}
#bottom_footer{
	width: 100%;
	height: 50px;
	background-color: #000;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #999999;
}
#middle_footer>.out{
	width: 1016px;
	height: 210px;
	margin: auto;
	
}
#middle_footer>.out>li{
	width: 270px;
	height: 210px;
	float: left;
}
#middle_footer>.out>li:last-child{
	width: 200px;
}
#middle_footer>.out>li>p>a{
	color:#fff;
}
#middle_footer>.out>li>p>a:hover{
	color:#e43639;
}
#middle_footer>.out>li:first-child>p{
	margin-bottom: 10px;
}
#middle_footer>.out>li:nth-child(2)>p{

	margin-bottom: 10px;
	position: relative;
	top: -15px;
}
#middle_footer>.out>li:nth-child(2)>p:first-child>a{
	color: #979797;
}
#middle_footer>.out>li:nth-child(2)>p:first-child{
	
	margin-bottom: 10px;
	font-size: 16px;
}
#middle_footer>.out>li:nth-child(3)>p{
	color: #fff;
	margin-bottom: 10px;
	position: relative;
	top: -15px;
}
#middle_footer>.out>li:nth-child(3)>p:first-child>a{
	color: #979797;
}
#middle_footer>.out>li:nth-child(3)>p:first-child{
	
	margin-bottom: 10px;
	font-size: 16px;
}
#middle_footer>.out>li:nth-child(4)>p{
	color: #fff;
	margin-bottom: 10px;
	position: relative;
	top: -15px;
}
#middle_footer>.out>li:nth-child(4)>p:first-child>a{
	color: #979797;
}
#middle_footer>.out>li:nth-child(4)>p:first-child{
	
	margin-bottom: 10px;
	font-size: 16px;
}