section{
	
	width: 1240px;
	background-color: #fff;
	margin: 46px auto;
	font-family: SimHei;
	padding-top:44px ;
}
		/*标题*/
		section>.sing_head{
			width: 152px;
			height: 45px;
			margin: 0px auto 8px;
		}
		/*标题下文本*/
		section>.sing_bottom_text{
			margin: 0 auto;
			width: 408px;
			height: 21px;
			line-height: 21px;			
			font-size: 26px;
		}
		section>.sing_bottom_text>span{
			color: #d0d0d0;
		}
		section>.sing_bottom_text>a{
			color: #ffe3a7;
		}
		/*文本下按钮*/
		section>.button_f_in{
			width: 538px;
			height: 38px;
			margin: 24px auto;
		}
		section>.button_f_in>.button_f{
			float: left;
			width: 250px;
			height: 38px;
			background: url(../img/f_botton.png) no-repeat center;
		}
		section>.button_f_in>.button_in{
			float: right;
			width: 250px;
			height: 38px;
			background: url(../img/in_botton.png) no-repeat center;
		}
		/*分割线*/
		section>.sign_or{
			width: 1240px;
			height: 12px;
			background: url(../img/sign_or.png) no-repeat center;
			margin-bottom: 36px;
		}
		/*输入框*/
		section>ul{
			width: 408px;
			margin: 0 auto;
		}
		section>ul>.section_input{
			width: 408px;
			/*height: 82px;*/
			margin-top: 22px;
		}
		section>ul>.section_input>span{
			font-size: 21px;
			color: #7f7b76;
			margin-left:12px;
		}
		section>ul>.section_input>input{
			display: block;
			width: 408px;
			height: 48px;
			border-radius: 5px;
			border: solid 1px #e0e0e0;
			box-sizing: border-box;
			margin-top: 10px;
			/*position: relative;
			bottom: 0;*/
		}
		
		/*其他方式登录*/
		section>ul>.section_link{
			margin-top: 22px;
		}
		section>ul>.section_link>span{
			margin-top: 22px;
			font-size: 21px;
			color: #7f7b76;
			margin-left:12px;
		}
		section>ul>.section_link>a{
			display: inline-block;
			width: 132px;
			height:164px;
			
		}
		section>ul>.section_link>.link_buyer{
			background: url(../img/b_buyer.png) no-repeat center;
		}
		section>ul>.section_link>.link_seller{
			background: url(../img/b_seller.png) no-repeat center;
		}
		section>ul>.section_link>.link_both{
			background:url(../img/b_both.png) no-repeat center;
		}
		section>ul>.section_link>p{
			width: 132px;
			text-align: center;
			display: inline-block;
		}
		
		section>ul>.section_input_submit{
			width: 312px;
			height: 72px;
			margin: 28px auto;
		}
		section>ul>.section_input_submit>input{
			display: block;
			width: 312px;
			height:43px;
			
			border-radius: 6px;
			/*background-color: none;*/
			background: url(../img/sign_submit.png) no-repeat center;
			border: none;
			outline: none;
		}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
